{{- define "size" -}}
for _, {{ .Data.Variable }} := range {{ .Variable }} {
    {{ template .Data.Template .Data }}
}
{{- end -}}

{{- define "marshal" -}}
{{- end -}}

{{- define "unmarshal" -}}
{{- end -}}
