func {{ .FuncName }}(m *{{ .TypeName }}, b []byte) uint64 {
{{- if .DataOffset -}}
    var o uint64 = {{ .DataOffset }}
{{- else -}}
    var o uint64
{{- end -}}
{{- range .Bools -}}
    // {{ .Field }}
    m.{{ .Field }} = b[{{ .Index }}]&{{ .Offset }} != 0
{{- end -}}
{{- range .Templates -}}
    {
        // {{ .Field }}
        {{ template .Name .Data }}
    }
{{- end -}}
}